# Unified Credentials
SINCH_PROJECT_ID = PROJECT_ID
SINCH_KEY_ID     = KEY_ID
SINCH_KEY_SECRET = KEY_SECRET

# Server Configuration
SERVER_PORT =

# Webhook Configuration
# The secret value used for webhook calls validation
# See https://developers.sinch.com/docs/numbers/api-reference/numbers/tag/Numbers-Callbacks/
NUMBERS_WEBHOOKS_SECRET = WEBHOOKS_SECRET

# SMS Service Plan ID related credentials.
#SINCH_SERVICE_PLAN_ID  = SERVICE_PLAN_ID
#SINCH_API_TOKEN        = API_TOKEN