# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*       @marcos-sinch @matsk-sinch @asein-sinch @JPPortier @edu-sinch @Hurus111