# Server Configuration
SERVER_PORT =

# Sinch Event Configuration
# The secret value used for Sinch Event callback validation
# See https://developers.sinch.com/docs/numbers/api-reference/numbers/tag/Numbers-Callbacks/
NUMBERS_SINCH_EVENT_SECRET = NUMBERS_SINCH_EVENT_SECRET
# See https://developers.sinch.com/docs/sms/api-reference/sms/tag/Webhooks/#tag/Webhooks/section/Callbacks
SMS_SINCH_EVENT_SECRET = SMS_SINCH_EVENT_SECRET
# See https://developers.sinch.com/docs/conversation/callbacks
CONVERSATION_SINCH_EVENT_SECRET = CONVERSATION_SINCH_EVENT_SECRET